# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
google-auth-oauthlib
google-auth
azure-identity
azure-keyvault-secrets
openai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
azure-cosmos